node_modules
public/course.json
src/Demo.jsx

.env

src/firebase/firebase.init.js

.env.local

dist

tailwind.config.js

firebase-debug.log

.firebase
.firebase/hosting.ZGlzdA.cachegit rm -r --cached .firebase